.App {
  text-align: left;
  background-color: #282c34;
  color: white;
  height: 100%;
  min-height: 100vh;
}

.main-container {
  height: 100%;
  position: absolute;
}

.Basic-Sec {
  align-items: center;
  justify-content: flex-start;
}

.Info-Sec {
  align-content: flex-start;
  background-color: white;
  color: black;
}

.sec {
  height: 100%;
  padding: 5%;
}

.name {
  font-size: 60px;
  margin: 5px 0px;
}

.occupation {
  font-size: 20px;
  margin: 5px 0px;
  color: #a8a8a8;
}

a {
  text-decoration: none !important;
}

.header {
  color: #282c34;
}

.resume-line {
  font-size: 20px;
}

.resume-link {
  color: #f50057;
}

.project-name {
  font-size: 15px;
  margin-bottom: 2px;
}

.project-desc {
  margin-top: 3px;
}

@media (min-width: 960px) {
  .name {
    font-size: 100px;
    margin: 5px 0px;
  }

  .occupation {
    font-size: 30px;
    margin: 5px 0px;
  }

  .date {
    text-align: right;
  }

  .Info-Sec {
    overflow: auto;
  }

  .sec {
    height: 100%;
    padding: 2.5%;
  }
}
